---
layout: page
comments: false
---
{% capture home_path %}{{ page.url | get_path }}index.html{% endcapture %}
{% capture start_path %}{{ page.url | get_path }}start{% endcapture %}
{% capture features_path %}{{ page.url | get_path }}features{% endcapture %}
{% capture releases_path %}{{ page.url | get_path }}releases{% endcapture %}
{% capture api_path %}{{ page.url | get_path }}api{% endcapture %}
{% capture faq_path %}{{ page.url | get_path }}faq{% endcapture %}
<div class="section-nav">
	<h3>
		<a href="{{home_path}}" {% if page.url == home_path %}class="active"{% endif %}>Project Home</a>
		{% unless page.no_start %} |
			<a href="{{start_path}}" {% if page.url == start_path %}class="active"{% endif %}>Getting Started</a>
		{% endunless %}
		{% unless page.no_features %} |
			<a href="{{features_path}}" {% if page.url == features_path %}class="active"{% endif %}>Features</a>
		{% endunless %}
		{% unless page.no_releases %} |
			<a href="{{releases_path}}" {% if page.url == releases_path %}class="active"{% endif %}>Release Notes</a>
		{% endunless %}
		{% unless page.no_api %} |
			<a href="{{api_path}}" {% if page.url == api_path %}class="active"{% endif %}>API Documentation</a>
		{% endunless %}
		{% unless page.no_faq %} |
			<a href="{{faq_path}}" {% if page.url == faq_path %}class="active"{% endif %}>FAQs</a>
		{% endunless %}
	</h3>
</div>
{{ content }}
